In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
class pgcreator:
    def __init__(self,description,number):
        self.description=description[number]+description[number+1]
        self.number=number

In [3]:
df=pd.read_csv('winemag-data_first150k.csv')
df.shape

(150930, 11)

In [4]:
type(df)

pandas.core.frame.DataFrame

### Idea is to take input from user regarding how many words to print ,for that new column in pg needs to be created which will count the number of words in each column of the description.
## AND GENERATE PARAGRAPHS!!

In [6]:
pg=df['description']
pg=pg.to_frame()
pg

                                              description
0       This tremendous 100% varietal wine hails from ...
1       Ripe aromas of fig, blackberry and cassis are ...
2       Mac Watson honors the memory of a wine once ma...
3       This spent 20 months in 30% new French oak, an...
4       This is the top wine from La Bégude, named aft...
...                                                   ...
150925  Many people feel Fiano represents southern Ita...
150926  Offers an intriguing nose with ginger, lime an...
150927  This classic example comes from a cru vineyard...
150928  A perfect salmon shade, with scents of peaches...
150929  More Pinot Grigios should taste like this. A r...

[150930 rows x 1 columns]

In [6]:
for i in pg.index:
    pg['length']=len(pg.loc[i,'description'])

In [32]:
for i in pg.index[0:3]:
    print(len(pg.loc[i,'description']))

355
318
280

In [30]:
pg.index[2]

2

In [7]:
pg

                                              description  length
0       This tremendous 100% varietal wine hails from ...     203
1       Ripe aromas of fig, blackberry and cassis are ...     203
2       Mac Watson honors the memory of a wine once ma...     203
3       This spent 20 months in 30% new French oak, an...     203
4       This is the top wine from La Bégude, named aft...     203
...                                                   ...     ...
150925  Many people feel Fiano represents southern Ita...     203
150926  Offers an intriguing nose with ginger, lime an...     203
150927  This classic example comes from a cru vineyard...     203
150928  A perfect salmon shade, with scents of peaches...     203
150929  More Pinot Grigios should taste like this. A r...     203

[150930 rows x 2 columns]

In [20]:
pg['length'].unique()

array([203], dtype=int64)

In [23]:
len(pg['description'][1])

318

In [26]:
len(pg.loc[0,'description'])

355

In [12]:
pg.isnull().sum()

description    0
dtype: int64

In [15]:
cv=CountVectorizer()
vector=cv.fit_transform(pg['description'].values)